.contact-card {
    padding:45px 30px;
    border-radius:20px;
    background-color:var(--bg-accent);
    font-size:25px;
    width:221px;
    display:flex;
    flex-direction:row;
    gap:30px;
    height:42px;
    position:relative;
    color:var(--foreground);
    transition:all 0.2s;
}
.contact-card:hover {
  transform: translateY(-2px);
	box-shadow: 0 8px 19px 0px #00000036;
}

span {
  margin:auto 0;
}

svg {
  font-size:50px;
}

h2 {
    font-size:50px;
    width:100%;
    margin:auto 50px auto 0;
}

.break {
  flex-basis: 100%;
  height: 0;
  width:100%;
}