.contact-card {
    padding:45px 30px;
    border-radius:20px;
    background-color:var(--bg-accent);
    font-size:25px;
    width:221px;
    display:flex;
    flex-direction:row;
    gap:30px;
    height:auto;
    position:relative;
    color:var(--foreground);
    transition:all 0.2s;
}
.contact-card:hover {
  transform: translateY(-2px);
	box-shadow: 0 8px 19px 0px #00000036;
}

span {
  margin:auto 0;
}

svg {
  font-size:50px;
}

h2 {
    font-size:50px;
    width:100%;
    margin:auto 50px auto 0;
}

.break {
  flex-basis: 100%;
  height: 0;
  width:100%;
}

@media (max-width: 1240px) {
  .contact-card {
    width:calc(25vw - 91px);
    gap:20px; 
    font-size:21px;
  }
  .small-card-container {
    gap:20px;
  }
}

@media (max-width:1110px) {
  .contact-card {
    width:calc(33vw - 91px);
    font-size:25px;
  }
}

@media (max-width:850px) {
  .contact-card {
    width:calc(50vw - 95px);
  }
}

@media (max-width:540px) {
  svg {
    font-size:40px;
    margin-top:3px;
  }
  .contact-card {
    padding:35px 25px;
    width:calc(50vw - 75px);
    font-size:22px;
  }
}

@media (max-width: 450px) {
  .contact-card {
    width:calc(100vw - 20px);
  }
}