.small-card-container {
    display:flex;
    flex-direction:row;
    gap:25px;
    flex-wrap:wrap;
    background:none;
    padding:0;
    width:100%;
}

.small-card {
    background-color:var(--bg-accent);
	padding: 40px;
    border-radius:20px;
    margin:none;
    position: relative;
    flex-grow:1;
    flex-shrink: 1;
    width:587.5px;
    height:217.6px;
    cursor:pointer;
    text-align:left;
}

.small-card h2 {
    font-size: 62px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 2;

}

.small-card:hover {
    transition:all 0.2s;

    transform: translateY(-2px);
	box-shadow: 0 8px 19px 0px #00000036;
}

.header-container {
    padding: 50px 75px;
}

.fa-arrow-right {
    width: 40px;
    height: 40px;
    font-size: 40px;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    right: 30px;
}


@media (max-width:1240px) {
  .small-card {
    width:calc(50vw - 32.5px);
  }
}

@media (max-width:1020px) {
    .small-card h2 {
        font-size:55px;
    }
}

@media (max-width:920px) {
    .small-card {
        padding:30px;
    }
    .small-card h2 {
        font-size: 50px;
    }
}

@media (max-width:820px) {
    .fa-arrow-right {
        width:35px;
        height:35px;
        right:20px;
    }
}
@media (max-width:727px) {
    .small-card h2 {
        font-size:45px;
    }
    .small-card {
        padding:25px;
    }
}

@media (max-width:586px) {
    .small-card {
        width:calc(100vw - 20px);
        padding: 40px;
    }
    .small-card h2 {
        font-size:50px;
    }
}
@media (max-width:486px) {
  .header-container {
    padding:40px;
  }
}